* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(115deg, rgba(58, 58, 58, 0.9),
            rgba(120, 150, 195, 0.7)), url(technical-documentation-page-background.jpg) no-repeat center center/cover;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

#page-wrapper {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    position: relative;
}

#nav-bar {
    min-width: 230px;
    border-right: solid 2px #dcdcdc;
    padding: 5px 10px;
}

.title {
    padding: 10px 0
}

.nav-list {
    list-style: none;
}

.nav-list li {
    padding: 10px 0;
}

.nav-link {
    color: #dcdcdc;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: aqua
}