* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    width: 100%;
    height: 4rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    background: #0F0F0F;
    padding-right: 50px;
    z-index: 1;
}

.nav-ul,
.nav-li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 4rem;
}

.section-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    height: 100%;
    font-size: 1.5rem;
    padding: 0 20px;
    transition: background-color 1s ease;
}

.section-link:hover {
    background-color: rgba(24, 89, 63, 0.5);
}

.container {
    padding-top: 4rem;
}

#about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #0F0F0F, #185a3f, #0F0F0F);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction-name {
    color: antiquewhite;
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
}

.introduction-title {
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

#work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #185a3f;
    padding-top: 65px;
    padding-bottom: 65px;
}


.work-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "title-html title-html title-html"
        "form landing-page technical-doc"
        "tribute-page calc quote"
        "sketch . .";
    row-gap: 40px;
    column-gap: 40px;
    padding: 20px 0;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.main-content-html-title {
    color: antiquewhite;
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
}

.title-wrapper-html {
    grid-area: title-html;
    display: flex;
    justify-content: center;
    align-items: center;
}

.from {
    grid-area: form;
}

.landing-page {
    grid-area: landing-page;
}

.technical-doc {
    grid-area: technical-doc;
}

.tribute-page {
    grid-area: tribute-page;
}

.calculator {
    grid-area: calc;
}

.quote-generator {
    grid-area: quote;
}

.sketch {
    grid-area: sketch;
}

.main-content-js-title {
    color: antiquewhite;
    font-weight: 300;
    font-size: 2.5rem;
    padding-top: 70px;
    text-align: center;
}

.img-container {
    width: 350px;
    background-color: #0F0F0F;
    border-radius: 5px;
}

.project-img {
    width: 100%;
    height: auto;
    display: block;
}

.img-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}


.img-caption a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 1.2rem;
}

.img-caption a:hover {
    color: greenyellow;
}

#contact {
    height: 100vh;
    background: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.quote-div {
    height: 15rem;
}

.quote {
    color: antiquewhite;
    font-weight: 300;
    font-size: 2.5rem;
    padding: 0 5px;
}

.author {
    color: antiquewhite;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 0 5px;
}

.invite {
    color: antiquewhite;
    text-align: center;
    font-size: 2.3rem;
    padding: 50px 0;
}

.contact-info ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 2rem;
}

.contact-info a {
    color: antiquewhite;
}

.contact-info a:hover {
    color: greenyellow;
}

.contacts-list li {
    padding: 0 10px;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 1200px) {
    .work-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "title-html title-html"
            "form landing-page"
            "technical-doc tribute-page"
            "calc quote"
            "sketch .";
        justify-items: center;
        align-items: center;
        row-gap: 40px;
        column-gap: 40px;
        padding: 20px 0;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 60%;
    }

    .nav-bar {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .section-link {
        font-size: 2rem;
    }

    .work-wrapper {
        justify-items: center;
        align-items: center;
    }

    .img-container {
        max-width: 350px;
    }

    .img-container {
        width: 400px;
    }

    .main-content-html-title {
        margin: 0;
        padding: 0;
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 120px;
    }

    .quote {
        padding: 0 10px;
        text-align: center;
    }

    .author {
        padding: 0 10px;

    }

    .contacts-list {
        flex-direction: column;
    }

    .contacts-list li {
        padding: 20px;
    }

}

@media (max-width: 780px) {
    html {
        font-size: 52%;
    }

    .nav-bar {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .work-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-template-areas:
            "title-html"
            "form"
            "landing-page"
            "technical-doc"
            "tribute-page"
            "calc"
            "quote"
            "sketch";
        justify-items: center;
        align-items: center;
        column-gap: 0;
        row-gap: 20px;
    }

    .img-caption {
        padding: 10px 0;
    }

    .main-content-html-title {
        margin-top: 30px;
        padding: 0;
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .contacts-list {
        flex-direction: column;
    }

    .contacts-list li {
        padding: 0;
    }

}

@media (max-width: 580px) {
    html {
        font-size: 40%;
    }

    .author {
        text-align: center;
    }
}

@media (max-width: 420px) {
    .quote {
        font-size: 1.6rem;
    }

    .author {
        font-size: 1.2rem;
    }
}