* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    width: 100%;
    height: 4rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    background: #0F0F0F;
    padding-right: 50px;
}

.nav-ul,
.nav-li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 4rem;
}

.section-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    height: 100%;
    font-size: 1.5rem;
    padding: 0 20px;
    transition: background-color 1s ease;
}

.section-link:hover {
    background-color: rgba(24, 89, 63, 0.5);
}

.container {
    padding-top: 4rem;
}

#about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #0F0F0F, #185a3f, #0F0F0F);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.fade-in-text span {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.introduction-name {
    color: antiquewhite;
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
}

.introduction-title {
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


#work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #185a3f;
}


.work-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "title-html title-html"
        "form landing-page"
        "technical-doc tribute-page"
        "title-js title-js";
    row-gap: 40px;
    column-gap: 40px;
}

.title-wrapper-html {
    grid-area: title-html;
}

.main-content-html-title {
    color: antiquewhite;
    font-weight: 300;
    font-size: 2.5rem;
    padding-top: 70px;
    text-align: center;
}

.from {
    grid-area: form;
}

.landing-page {
    grid-area: landing-page;
}

.technical-doc {
    grid-area: technical-doc;
}

.tribute-page {
    grid-area: tribute-page;
}

.title-wrapper-js {
    grid-area: title-js;
}

.main-content-js-title {
    color: antiquewhite;
    font-weight: 300;
    font-size: 2.5rem;
    padding-top: 70px;
    text-align: center;
}

.img-container {
    width: 350px;
    background-color: #0F0F0F;
    border-radius: 5px;
}

.project-img {
    max-width: 100%;
    height: auto;
}

.img-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}


.img-caption a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 1.2rem;
}

.img-caption a:hover {
    color: greenyellow;
}

#contact {
    height: 100vh;
    background: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.quote-div {
    height: 15rem;
}

.quote {
    color: antiquewhite;
    font-weight: 300;
    font-size: 2.5rem;
    padding: 0 5px;
}

.author {
    color: antiquewhite;
    letter-spacing: 1px;
    padding: 0 5px;
}

.invite {
    color: antiquewhite;
    text-align: center;
    font-size: 2.3rem;
    padding: 50px 0;
}

.contact-info ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 2rem;
}

.contact-info a {
    color: antiquewhite;
}

.contact-info a:hover {
    color: greenyellow;
}

.contacts-list li {
    padding: 0 10px;
}

@media (max-width: 80rem) {
    html {
        font-size: 60%;
    }

    .nav-bar {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .section-link {
        font-size: 2rem;
    }

    .work-wrapper {
        justify-items: center;
        align-items: center;
        column-gap: 40px;
        row-gap: 40px;
    }

    .img-container {
        max-width: 350px;
    }

    .img-container {
        width: 400px;
    }

    .main-content-html-title,
    .main-content-js-title {
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 120px;
    }

    .quote {
        font-size: 3rem;
    }

    .author {
        font-size: 1.5rem;
    }

    .invite {
        font-size: 3rem;
    }

    .contacts-list {
        flex-direction: column;
    }

    .contacts-list li {
        padding: 20px;
    }

    .contacts-list a {
        font-size: 3.5rem;
    }
}

@media (max-width: 50rem) {
    html {
        font-size: 52%;
    }

    .nav-bar {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .work-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 100px;
        grid-template-areas:
            "title-html"
            "form"
            "landing-page"
            "technical-doc"
            "tribute-page"
            "title-js";
        justify-items: center;
        align-items: center;
        column-gap: 0;
        row-gap: 20px;
    }

    .project-img {
        display: none;
    }

    .img-caption {
        padding: 10px 0;
    }

    .main-content-html-title,
    .main-content-js-title {
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .quote {
        font-size: 1.3rem;
    }

    .author {
        font-size: 0.8rem;
    }

    .invite {
        font-size: 2rem;
    }

    .contacts-list {
        flex-direction: column;
    }

    .contacts-list li {
        padding: 0;
    }

    .contacts-list a {
        font-size: 2rem;
    }
}