#header,
#nav-bar,
.nav-ul {
  display: flex
}

#features,
.button,
.fa-solid,
.nav-a,
.sub-desc {
  text-shadow: 1px 1px 2px #000
}

#footer,
#header {
  background-color: rgba(36, 38, 39, .9)
}

#footer ul,
.names-list li,
.nav-li {
  list-style: none
}

#footer a,
.nav-a,
body {
  color: #dcdcdc
}

#footer p,
.button,
.nav-a {
  font-weight: 700
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none
}

html {
  font-size: 75%;
  scroll-behavior: smooth
}

body {
  font-size: 100%;
  font-family: Poppins, sans-serif;
  background: linear-gradient(115deg, rgba(58, 58, 58, .9), rgba(120, 150, 195, .7)) fixed, url(yu-gi-oh!-background.webp) center center/cover no-repeat fixed
}

#page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px
}

#header {
  position: fixed;
  top: 0;
  margin-bottom: 5rem;
  min-height: 7.5rem;
  padding: 1rem 2rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw
}

.img-logo {
  height: 100%;
  width: 100%;
  max-width: 20rem
}

#nav-bar {
  gap: 1rem
}

.nav-ul {
  flex-direction: row;
  gap: 8rem
}

#subscription,
.form {
  display: flex;
  flex-direction: column
}

.nav-a {
  font-size: 2.5rem
}

a:hover {
  color: #ee2225
}

#main-content {
  margin-top: 15rem;
  width: 100%;
  padding: 0 10px
}

#subscription {
  justify-content: center;
  align-items: center
}

.sub-desc {
  font-size: 3rem;
  text-align: center
}

#features,
.email {
  font-size: 1.6rem
}

.form {
  align-items: center
}

#features,
.icon {
  flex-direction: column
}

.email {
  width: 27.5rem;
  padding: .5rem;
  margin: 2rem 0
}

.button {
  width: 12rem;
  background-color: #ee2225;
  font-size: 2rem;
  color: #fff;
  padding: .5rem 2rem;
  border-radius: .3rem;
  border: none;
  cursor: pointer
}

#features,
#tutorial,
.grid {
  display: flex;
  width: 100%
}

.youtube-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.play-button {
  width: 12rem;
  background-color: #ee2225;
  font-size: 2rem;
  color: #fff;
  padding: .5rem 2rem;
  border-radius: .3rem;
  border: none;
  cursor: pointer
}

.button:hover {
  background-color: #414345
}

#features {
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem
}

.grid {
  flex-direction: row;
  justify-content: left;
  align-items: center;
  max-width: 80rem
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 20rem
}

.fa-solid {
  font-size: 5rem
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80rem
}

#tutorial {
  justify-content: center;
  margin-bottom: 8rem
}

#pricing,
.item-name {
  justify-content: center;
  display: flex
}

#pricing {
  gap: 2rem;
  margin-bottom: 20px
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000;
  width: 45rem;
  height: auto;
  padding: 20px 0;
  background-color: rgba(220, 220, 220, .6);
  color: #000
}

.item-name {
  align-items: center;
  border-radius: 1px 1px 0 0;
  width: 100%;
  color: #000;
  font-weight: 600;
  font-size: 2.2rem;
  padding: 5px;
  height: 35px
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  background-color: transparent
}

.names-list li {
  font-size: 2rem;
  padding: 0 5px
}

.select-btn-div {
  padding-bottom: 5px
}

#footer {
  display: block;
  width: 100%
}

#footer ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding-right: 2rem;
  padding-top: 2rem
}

#footer p {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  padding-bottom: 2rem
}

@media (max-width:1200px) {
  html {
    font-size: 75%
  }

  header {
    flex-wrap: wrap
  }

  #pricing {
    flex-direction: column;
    align-items: center
  }
}

@media (max-width:980px) {

  .button,
  .names-list li {
    font-size: 1.4rem;
    text-align: center
  }

  html {
    font-size: 70%
  }

  .img-logo {
    padding-bottom: 1rem
  }

  .nav-ul {
    gap: 5rem
  }

  .button {
    width: 7.5rem;
    padding: .5rem
  }
}

@media (max-width:460px) {
  html {
    font-size: 50%
  }

  .prices {
    width: 40rem;
    gap: 10px
  }
}